apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: longhorn-system

resources:
  - namespace.yaml
  - ingress.yaml

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.1
    releaseName: longhorn
    namespace: longhorn-system
    valuesFile: values.yaml
    includeCRDs: true

# Remove the Helm-generated ingress so it doesn't collide with yours
patches:
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: longhorn-ingress
    patch: |
      $patch: delete

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"
