preUpgradeChecker:
  jobEnabled: false

service:
  ui:
    type: ClusterIP

persistence:
  defaultClass: true

defaultSettings:
  storageOverProvisioningPercentage: 200
  defaultReplicaCount: 2
  orphanAutoDeletion: true
  replicaSoftAntiAffinity: true
  defaultLonghornStaticStorageClass: "longhorn-static"

ingress:
  enabled: false

enablePSP: false
